$var1: #363636;
	$colorOrange: rgba(227, 184, 115, 1);
	$colorBlack: rgba(0, 0, 0, 1);
	$colorWhite: rgba(255, 255, 255, 1);
	$colorBlackTwo: rgba(24, 24, 24, 1);

* {
	font-family: "Nunito Sans";
	font-weight: 400;
	padding: 0;
	margin: 0;
}

.container {
	max-width: 1263px;
	padding: 0 18px;
	margin: 0 auto;
}
.input {
	border-top: none;
	border-left: none;
	border-right: none;
	font-size: 14px;
	line-height: 22.92px;
	color: $colorWhite;
	border-bottom: 1px solid $var1;
	background-color: $colorBlack;
	&::placeholder {
		font-size: 14px;
		background-color: $colorBlack;
		line-height: 22.92px;
		color: $colorWhite;
	}
	&:focus {
		outline: none;
		line-height: 22.92px;
		font-size: 14px;
		background-color: $colorBlack;
		color:$colorWhite;
	}
}
.wrapper-all {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.button {
	font-style: italic;
	cursor: pointer;
	background: $colorOrange;
	box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
	border-radius: 2px;
	text-transform: uppercase;
	font-size: 11px;
	line-height: 15px;
	text-align: center;
	color: $colorWhite;
	padding: 15px 25px;
	border: 0px;
	max-width: 207px;
	width: 100%;
	height: 51px;
	color: $colorWhite;
}
.wrapper__img-100 {
	max-width: 100%;
}

