* {
  font-family: "Nunito Sans";
  font-weight: 400;
  padding: 0;
  margin: 0;
}

.container {
  max-width: 1263px;
  padding: 0 18px;
  margin: 0 auto;
}

.input {
  border-top: none;
  border-left: none;
  border-right: none;
  font-size: 14px;
  line-height: 22.92px;
  color: var(--colorWhite);
  border-bottom: 1px solid #363636;
  background-color: var(--colorBlack);
}
.input::placeholder {
  font-size: 14px;
  background-color: var(--colorBlack);
  line-height: 22.92px;
  color: var(--colorWhite);
}

.input:focus {
  outline: none;
  line-height: 22.92px;
  font-size: 14px;
  background-color: var(--colorBlack);
  color: var(--colorWhite);
}

.wrapper-all {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.button {
  font-style: italic;
  cursor: pointer;
  background: var(--colorOrange);
  box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
  border-radius: 2px;
  text-transform: uppercase;
  font-size: 11px;
  line-height: 15px;
  text-align: center;
  color: var(--colorWhite);
  padding: 15px 25px;
  border: 0px;
  max-width: 207px;
  width: 100%;
  height: 51px;
  color: var(--colorWhite);
}

.wrapper__img-100{
max-width: 100%;
}


:root {
  --colorOrange: rgba(227, 184, 115, 1);
  --colorBlack: rgba(0, 0, 0, 1);
  --colorWhite: rgba(255, 255, 255, 1);
  --colorBlackTwo: rgba(24, 24, 24, 1);
}

.slider {
  width: 100%;
  overflow: hidden;

}

.sliderLine,.sliderLine-mobi {
  display: flex;
  transition: all ease 1s;
}