* {
  font-family: "Nunito Sans";
  font-weight: 400;
  padding: 0;
  margin: 0;
}
header,
footer {
  margin: 0 auto;
  background-color: black;
}
.container {
  max-width: 1263px;

  margin: 0 auto;
}

h1 {
  font-size: 11px;
  line-height: 15px;
  text-transform: uppercase;
  color: #e3b873;
}
.header-footer__one {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  padding: 22px 0;
}

nav > ul {
  display: flex;
}
nav > ul > li {
  margin: 0 0 0 47px;
  list-style-type: none;
}

.phone {
  font-size: 11px;
  line-height: 15px;
  text-align: right;
  text-decoration-line: underline;
  color: #e3b873;
}
.button {
  font-style: italic;
  cursor: pointer;
  background: #e3b873;
  box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
  border-radius: 2px;
  text-transform: uppercase;
  font-size: 11px;
  line-height: 15px;
  text-align: center;
  color: white;
  padding: 15px 25px;
  border: 0px;
  max-width: 207px;
  width: 100%;
  height: 51px;
}

.button-header-footer {
  max-width: 161px;
}

nav > ul > li > a {
  color: white;
  font-size: 11px;
  line-height: 15px;
  text-decoration: none;
}

nav > ul > li > a:hover {
  color: #e3b873;
}
@media (max-width: 768px) {
  .container {
    margin: 0 auto;
    padding: 0 18px;
  }
  .nav__wrapper-1 {
    display: none;
  }

  .header-footer__one > .button {
    display: none;
  }
  .section__col > .phone {
    color: white;
    text-decoration: none;
  }

  .footer {
    display: none;
  }
}
