@charset "UTF-8";
* {
  font-family: "Nunito Sans";
  font-weight: 400;
  padding: 0;
  margin: 0;
}

.span_all {
  font-size: 13px;
  line-height: 21.28px;
  color: rgba(255, 255, 255, 0.5);
}

.container {
  max-width: 1263px;
  padding: 0 18px;
  margin: 0 auto;
}

.input {
  border-top: none;
  border-left: none;
  border-right: none;
  font-size: 14px;
  line-height: 22.92px;
  color: rgb(255, 255, 255);
  border-bottom: 1px solid #363636;
  background-color: rgb(0, 0, 0);
}
.input::placeholder {
  font-size: 14px;
  background-color: rgb(0, 0, 0);
  line-height: 22.92px;
  color: rgb(255, 255, 255);
}
.input:focus {
  outline: none;
  line-height: 22.92px;
  font-size: 14px;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
}

.wrapper-all {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.slider, .slider-mobil {
  width: 100%;
  overflow: hidden;
}
.slider .sliderLine,
.slider .sliderLine-mobil, .slider-mobil .sliderLine,
.slider-mobil .sliderLine-mobil {
  display: flex;
  transition: all ease 1s;
}

.button {
  font-style: italic;
  cursor: pointer;
  background: rgb(227, 184, 115);
  box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
  border-radius: 2px;
  text-transform: uppercase;
  font-size: 11px;
  line-height: 15px;
  text-align: center;
  color: rgb(255, 255, 255);
  padding: 15px 25px;
  border: 0px;
  max-width: 207px;
  width: 100%;
  height: 51px;
  color: rgb(255, 255, 255);
}
.button:hover {
  border: 2px solid rgb(255, 255, 255);
}

.wrapper__img-100 {
  max-width: 100%;
}

@media (max-width: 768px) {
  .button {
    max-width: 767px;
    width: 100%;
  }
  .button-wrapper-1 {
    margin: 26px 0 0 0;
    width: 100%;
  }
  .button:hover {
    border: 2px solid rgb(255, 255, 255);
  }
  .wrapper-all {
    max-width: 100%;
  }
  .wrapper-all .input {
    background: rgb(24, 24, 24);
  }
  .wrapper-all .input::placeholder {
    background: rgb(24, 24, 24);
  }
  .arrow-mobi {
    display: flex;
    z-index: 1;
    align-items: center;
    justify-content: center;
    width: 36px;
    top: 48%;
    height: 36px;
    border-radius: 50%;
    background-color: rgb(227, 184, 115);
  }
}
header,
footer {
  margin: 0 auto;
  background-color: rgb(0, 0, 0);
}

h1 {
  font-size: 11px;
  line-height: 15px;
  text-transform: uppercase;
  color: rgb(227, 184, 115);
}

.header-footer__one {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(0, 0, 0);
  padding: 22px 0;
}
.header-footer__one > .button {
  max-width: 161px;
}

nav > ul {
  display: flex;
  justify-content: space-around;
}
nav > ul > li {
  list-style-type: none;
}
nav > ul > li > a {
  color: rgb(255, 255, 255);
  font-size: 11px;
  line-height: 15px;
  text-decoration: none;
}
nav > ul > li > a:hover {
  color: rgb(227, 184, 115);
}

.phone {
  font-size: 11px;
  line-height: 15px;
  text-align: right;
  text-decoration-line: underline;
  color: rgb(227, 184, 115);
}

.button-header-footer {
  max-width: 161px;
}

.nav__wrapper-1 {
  min-width: 600px;
}

@media (max-width: 768px) {
  .header-footer__one {
    background-color: rgb(24, 24, 24);
  }
  .header-footer__one .button {
    display: none;
  }
  .nav__wrapper-1, .footer {
    display: none;
  }
  .phone {
    color: rgb(255, 255, 255);
    text-decoration: none;
  }
}
@media (max-width: 1000px) {
  .nav__wrapper-1 {
    min-width: 400px;
  }
}
.wrapper-1 {
  background: url(../images/img1.png) 0 0/100% 100% no-repeat;
}
.wrapper-1 .color-wrapper-1 {
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
}
.wrapper-1 .color-wrapper-1 .section__roww {
  padding: 200px 0px 200px 33px;
  width: 676px;
  height: 305px;
}
.wrapper-1 .color-wrapper-1 .section__roww h2 {
  font-family: "Yeseva One";
  font-size: 40px;
  color: rgb(255, 255, 255);
  line-height: 53px;
  text-transform: uppercase;
}
.wrapper-1 .color-wrapper-1 .section__roww h2 span {
  font-family: "Yeseva One";
  font-size: 40px;
  line-height: 53px;
  text-transform: uppercase;
  color: rgb(227, 184, 115);
}
.wrapper-1 .color-wrapper-1 .section__roww p {
  margin-top: 19px;
  margin-bottom: 40px;
  color: rgb(255, 255, 255);
  font-size: 22px;
  line-height: 36px;
}
.wrapper-1 .color-wrapper-1 .section__roww .mobi-button-wrapper-1 {
  display: none;
}
.wrapper-1 .color-wrapper-1 .section__roww .button-wrapper-1:last-child {
  border: 1px solid rgb(255, 255, 255);
  background: rgba(0, 0, 0, 0);
  margin-left: 20px;
  box-shadow: none;
}
.wrapper-1 .color-wrapper-1 .section__roww .button-wrapper-1:hover {
  box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
}

@media (min-width: 1980px) {
  .color-wrapper-1 {
    min-height: 950px;
  }
  .color-wrapper-1 .section__roww {
    padding: 313px 33px 0 0;
    margin: 0;
  }
}
@media (max-width: 768px) {
  .wrapper-1 .color-wrapper-1 .section__roww {
    padding: 0;
    width: 100%;
    height: 100%;
  }
  .wrapper-1 .color-wrapper-1 .section__roww .wrapper-1__content {
    padding: 85px 0;
  }
  .wrapper-1 .color-wrapper-1 .section__roww .wrapper-1__content h2,
  .wrapper-1 .color-wrapper-1 .section__roww .wrapper-1__content span {
    font-size: 23px;
    line-height: 30px;
  }
  .wrapper-1 .color-wrapper-1 .section__roww .wrapper-1__content p {
    font-size: 14px;
    line-height: 19.02px;
  }
  .wrapper-1 .color-wrapper-1 .section__roww .wrapper-1__content .mobi-button-wrapper-1 {
    display: block;
    border: 1px solid rgb(255, 255, 255);
    background: rgba(0, 0, 0, 0);
    margin-left: 20px;
    box-shadow: none;
  }
  .wrapper-1 .color-wrapper-1 .section__roww .wrapper-1__content .mobi-button-wrapper-1:hover {
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
  }
  .wrapper-1 .color-wrapper-1 .section__roww .wrapper-1__content .button-wrapper-1 {
    margin: 26px 0 0 0 !important;
    width: 100%;
  }
  .wrapper-1 .color-wrapper-1 .section__roww .wrapper-1__content .button-wrapper-1:last-child {
    display: none;
  }
}
.wrapper-2 {
  background: rgb(0, 0, 0);
  z-index: -1;
  color: rgb(255, 255, 255);
}
.wrapper-2 .section__row__down {
  padding: 35px 0 0 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 35px repeat(2, 1fr) 50px;
  grid-column-gap: 20px;
  grid-row-gap: 10px;
}
.wrapper-2 .section__row__down .section__row__up {
  grid-area: 1/2/2/3;
}
.wrapper-2 .section__row__down .section__row__up ul {
  display: flex;
  justify-content: space-between;
}
.wrapper-2 .section__row__down .section__row__up ul li {
  font-size: 14px;
  text-transform: uppercase;
  line-height: 19.4px;
  list-style-type: none;
  color: rgba(255, 255, 255, 0.3);
  cursor: pointer;
  font-family: "Yeseva One";
}
.wrapper-2 .section__row__down .section__row__up ul .a-activ {
  color: rgb(227, 184, 115) !important;
  border-bottom: rgb(227, 184, 115) 1px solid;
}
.wrapper-2 .section__row__down .section__row__up ul li:hover {
  color: rgb(227, 184, 115);
  border-bottom: rgb(227, 184, 115) 1px solid;
}
.wrapper-2 .section__row__down .section_left__title {
  grid-area: 2/1/3/2;
}
.wrapper-2 .section__row__down .section_left__title h2 {
  font-family: "Yeseva One";
  font-size: 27px;
  line-height: 37.42px;
  text-transform: uppercase;
  color: rgb(227, 184, 115);
  margin-bottom: 34px;
}
.wrapper-2 .section__row__down .section_left__title p {
  font-size: 14px;
  line-height: 26.73px;
}
.wrapper-2 .section__row__down .section_left__info {
  grid-area: 3/1/4/2;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 34px;
}
.wrapper-2 .section__row__down .section_left__info h3 {
  font-family: "Yeseva One";
  font-size: 18px;
  line-height: 24.95px;
  text-transform: uppercase;
  color: rgb(227, 184, 115);
}
.wrapper-2 .section__row__down .section_left__info span {
  font-size: 13px;
  line-height: 21.28px;
  color: rgb(255, 255, 255);
}
.wrapper-2 .section__row__down .section_left__info .grid_1 {
  grid-area: 1/1/2/2;
}
.wrapper-2 .section__row__down .section_left__info .grid_2 {
  grid-area: 1/2/2/3;
}
.wrapper-2 .section__row__down .section_left__info .grid_3 {
  grid-area: 2/1/3/2;
}
.wrapper-2 .section__row__down .section_left__info .grid_4 {
  grid-area: 2/2/3/3;
}
.wrapper-2 .section__row__down .section_left__nav {
  grid-area: 4/1/5/2;
  align-self: end;
  display: flex;
  max-width: 210px;
  justify-content: space-between;
}
.wrapper-2 .section__row__down .section_left__nav .button-previous,
.wrapper-2 .section__row__down .section_left__nav .button-next {
  cursor: pointer;
}
.wrapper-2 .section__row__down .section_left__nav .all__tchk {
  margin: 0 30px;
  min-width: 60px;
  display: flex;
  justify-content: space-between;
}
.wrapper-2 .section__row__down .section_left__nav .all__tchk .tchk {
  cursor: pointer;
  width: 9.5px;
  height: 9.5px;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 50%;
}
.wrapper-2 .section__row__down .section_left__nav .all__tchk .tchk-activ {
  background-color: rgb(255, 255, 255);
}
.wrapper-2 .section__row__down .section-right {
  grid-area: 2/2/5/3;
}
.wrapper-2 .wrapper-2_titel_camera {
  display: flex;
  padding: 92px 0 257px 0;
  flex-direction: column;
  align-items: center;
}
.wrapper-2 .wrapper-2_titel_camera .titel {
  font-family: "Yeseva One";
  font-size: 20px;
  line-height: 27.72px;
  text-transform: uppercase;
}
.wrapper-2 .wrapper-2_titel_camera .camera {
  margin: 15px 0;
  display: flex;
  align-items: center;
}
.wrapper-2 .wrapper-2_titel_camera .camera .line {
  width: 32px;
  border: rgb(227, 184, 115) solid 1px;
}
.wrapper-2 .wrapper-2_titel_camera .camera SVG {
  margin: 0 8px;
}

.svg-mobi-previous,
.svg-mobi-next {
  display: none;
}

@media (max-width: 768px) {
  .section__row__up,
  .all__tchk,
  .svg-desctop-previous,
  .svg-desctop-next {
    display: none !important;
  }
  .svg-mobi-previous,
  .svg-mobi-next {
    display: block;
  }
  .wrapper-2 {
    background: rgb(24, 24, 24);
  }
  .wrapper-2 .section__row__down {
    padding: 0;
    position: relative;
    grid-template-columns: 1fr;
    grid-template-rows: 0.4fr 1fr 0.4fr;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
  }
  .wrapper-2 .section__row__down .section_left__title {
    grid-area: 1/1/2/2;
  }
  .wrapper-2 .section__row__down .section_left__title h2 {
    margin-top: 36px;
    text-align: center;
    font-size: 22px;
    line-height: 30px;
  }
  .wrapper-2 .section__row__down .section_left__title p {
    text-align: center;
    font-size: 11px;
    line-height: 17px;
  }
  .wrapper-2 .section__row__down .section_left__info {
    grid-row-gap: 0px;
  }
  .wrapper-2 .section__row__down .section_left__info h3 {
    font-size: 14px;
    line-height: 19px;
  }
  .wrapper-2 .section__row__down .section_left__info span {
    font-size: 11px;
    line-height: 18px;
  }
  .wrapper-2 .section__row__down .section-right {
    grid-area: 2/1/3/2;
  }
  .wrapper-2 .section__row__down .button-previous,
  .wrapper-2 .section__row__down .button-next,
  .wrapper-2 .section__row__down .arrow-mobi {
    position: absolute;
  }
  .wrapper-2 .section__row__down .button-previous {
    left: 0px;
  }
  .wrapper-2 .section__row__down .button-next {
    right: 0px;
  }
  .wrapper-2 .section__row__down .button-next .svg-mobi-next {
    transform: rotate(180deg);
  }
  .wrapper-2 .wrapper-2_titel_camera {
    padding: 0px 0px 30px 0px;
  }
  .wrapper-2 .wrapper-2_titel_camera h3 {
    font-size: 22px;
    line-height: 30;
    margin: 50px 19px 0;
  }
}
.wrapper-3__all {
  max-width: 818px;
  margin: -226px auto 0 auto;
  height: 434px;
}
.wrapper-3__all .wrapper-3__video_photo {
  background: url(../images/img3.png) 0 0/100% 100% no-repeat;
  width: 100%;
  height: 100%;
}
.wrapper-3__all .wrapper-3__video_photo .wrapper-3__fon {
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.wrapper-3__input {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 91.5px;
}
.wrapper-3__input .span_wrapper-3 {
  color: rgba(54, 54, 54, 0.5) !important;
}
.wrapper-3__input .wrapper-3__input__phone {
  margin-right: 49px;
  margin-left: 58px;
}
.wrapper-3__input .input__wrapper-3 {
  background-color: rgb(255, 255, 255) !important;
  border-bottom: 1px solid rgba(54, 54, 54, 0.3) !important;
  color: rgb(0, 0, 0) !important;
}
.wrapper-3__input .input__wrapper-3::placeholder {
  background-color: rgb(255, 255, 255) !important;
  color: #363636 !important;
}
.wrapper-3__input .input__wrapper-3:focus {
  background-color: rgb(255, 255, 255) !important;
  color: rgb(0, 0, 0) !important;
}
.wrapper-3__input .button__wrapper-3 {
  font-size: 13px;
  font-style: normal;
}

.wrapper-3__line {
  display: flex;
  margin: 62px auto 34px auto;
  width: 55px;
  height: 1.5px;
  background-color: rgb(227, 184, 115);
}

.wrapper-3__text {
  margin: 0 auto;
  width: 681px;
  text-align: center;
  font-size: 18px;
  line-height: 36.83px;
  color: #363636;
}

.label {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.label .text {
  margin-left: 8.5px;
  font-size: 14px;
  line-height: 22.92px;
  color: rgb(24, 24, 24);
}
.label .checkbox {
  display: none;
}
.label .fake {
  display: inline-flex;
  width: 18px;
  height: 18px;
  background: rgb(227, 184, 115);
  color: rgb(255, 255, 255);
  justify-content: center;
  align-items: center;
}
.label .fake::before {
  content: "✔";
  opacity: 0;
  transition: 0.2s;
}
.label .checkbox:checked + .fake::before {
  opacity: 1;
}

.check-mark {
  display: flex;
  justify-content: center;
  margin: 35px 0 147px 0;
}

.check-mark-mobi {
  display: none;
}

.video {
  display: none;
  width: 100%;
  height: 100%;
}
.video video {
  width: 100%;
}

.play {
  cursor: pointer;
}
.play svg:hover {
  stroke: rgb(255, 255, 255);
}

@media (max-width: 768px) {
  .wrapper-3 {
    background: rgb(24, 24, 24);
  }
  .wrapper-3 .wrapper-3__all {
    width: 100%;
    aspect-ratio: 16/9;
    height: 100%;
    margin: 0;
  }
  .wrapper-3 .wrapper-3__all .play svg {
    width: 70px;
    height: 70px;
  }
  .wrapper-3 .wrapper-3__line {
    margin: 28px auto 25px auto;
  }
  .wrapper-3 .wrapper-3__text {
    width: 100%;
    font-size: 11px;
    line-height: 18px;
    color: rgb(255, 255, 255);
  }
  .wrapper-3 .wrapper-3__input {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
  }
  .wrapper-3 .wrapper-3__input .wrapper-3__input__name {
    margin-bottom: 47px;
    width: 100%;
  }
  .wrapper-3 .wrapper-3__input .wrapper-3__input__phone {
    margin: 0;
    width: 100%;
  }
  .wrapper-3 .wrapper-3__input .span_wrapper-3 {
    color: rgba(255, 255, 255, 0.5) !important;
  }
  .wrapper-3 .wrapper-3__input .input__wrapper-3 {
    background-color: rgb(24, 24, 24) !important;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5) !important;
    color: rgb(255, 255, 255) !important;
  }
  .wrapper-3 .wrapper-3__input .input__wrapper-3::placeholder {
    background-color: rgb(24, 24, 24) !important;
    color: rgb(255, 255, 255) !important;
  }
  .wrapper-3 .wrapper-3__input .input__wrapper-3:focus {
    background-color: rgb(24, 24, 24) !important;
    color: rgb(255, 255, 255) !important;
  }
  .wrapper-3 .wrapper-3__input .button__wrapper-3 {
    max-width: 767px;
    width: 100%;
    margin-bottom: -26px;
  }
  .label > .text {
    color: rgb(255, 255, 255);
  }
  .check-mark {
    display: none;
  }
  .check-mark-mobi {
    display: block;
    margin: 26px 0 62px 0;
  }
}
.wrapper-4 {
  margin-bottom: 80px;
}
.wrapper-4 .section__row__title {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 14px;
}
.wrapper-4 .section__row__title h3 {
  font-family: "Yeseva One";
  font-size: 20px;
  line-height: 27.72px;
  color: rgb(24, 24, 24);
}
.wrapper-4 .section__row__img {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  gap: 10px;
}
.wrapper-4 .section__row__img .section__col__text {
  z-index: 2;
  position: relative;
  background-color: rgb(255, 255, 255);
  margin: -127px 0px 0 30px;
  display: flex;
  flex-direction: column;
  max-width: 300px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);
  padding: 25px 0 20px 30px;
}
.wrapper-4 .section__row__img .section__col__text h3 {
  color: #363636;
  font-family: "Yeseva One";
  font-size: 18px;
  line-height: 24.95px;
}
.wrapper-4 .section__row__img ul {
  margin: 13px 0 10px 0;
}
.wrapper-4 .section__row__img ul li {
  color: #959595;
  list-style-position: inside;
  font-size: 13px;
  line-height: 26.6px;
}
.wrapper-4 .wrapper_4__price {
  position: relative;
  margin: -25px 0 0 30px;
  z-index: 3;
  max-width: 228px;
  height: 54px;
  background-color: rgb(227, 184, 115);
  display: flex;
  justify-content: center;
  box-shadow: 5px 5px 10px rgba(227, 184, 115, 0.3);
}
.wrapper-4 .wrapper_4__price span {
  font-family: "Yeseva One";
  color: rgb(255, 255, 255);
  font-size: 18px;
  line-height: 24.95px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
}

@media (max-width: 768px) {
  .wrapper-4 .section__row__title {
    margin-top: 83px;
  }
  .wrapper-4 .section__row__img {
    flex-direction: column;
    align-items: center;
    gap: 45px;
  }
  .wrapper-4 .section__row__img .section__col__text {
    max-width: 290px;
    margin: -100px 0 0 0;
  }
  .wrapper-4 .section__row__img .section__col__text li {
    line-height: 22px;
  }
}
@media (max-width: 970px) {
  .section__col__text {
    margin: -67px 0px 0 30px;
  }
}
.wrapper-5 {
  background: url(../images/img7.png) no-repeat;
}
.wrapper-5 .wrapper-5__section__row {
  display: flex;
  justify-content: space-around;
}
.wrapper-5 .wrapper-5__section__row .all_mini_wrapper-5 {
  padding: 100px 0 0 0;
  height: 473px;
  max-width: 374px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.wrapper-5 .wrapper-5__section__row .all_mini_wrapper-5 .mini-wrapper-5 {
  display: flex;
  align-items: center;
}
.wrapper-5 .wrapper-5__section__row .all_mini_wrapper-5 .mini-wrapper-5 .marker {
  width: 88px;
  height: 88px;
  margin-right: 16px;
  position: relative;
}
.wrapper-5 .wrapper-5__section__row .all_mini_wrapper-5 .mini-wrapper-5 span {
  font-family: "Yeseva One";
  position: absolute;
  color: rgb(255, 255, 255);
  line-height: 24.95px;
  font-size: 18px;
  top: 26px;
  left: 33px;
}

.section__col_modal_okno {
  margin: 106px 0 36px 0;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  width: 506px;
  height: 509px;
}
.section__col_modal_okno .title {
  text-align: center;
  margin: 28px 0 39px 0;
}
.section__col_modal_okno .title h4 {
  padding-top: 28px;
  font-size: 18px;
  line-height: 25.78px;
}
.section__col_modal_okno .wrapper-5__input {
  display: flex;
  flex-direction: column;
  margin: 39px 49px 19px 49px;
}
.section__col_modal_okno .wrapper-5__input .button__wrapper-5__input {
  display: flex;
  flex-direction: row-reverse;
}
.section__col_modal_okno .wrapper-5__input .button__wrapper-5__input .button__wrapper-5 {
  font-style: normal;
  font-size: 13px;
}
.section__col_modal_okno .wrapper-5__input .wrapper-5__input__phone {
  margin: 48px 0;
}
.section__col_modal_okno .wrapper-5__input .wrapper-5__heck-mark {
  justify-content: flex-start;
  margin: 17px 0 39px 0;
}
.section__col_modal_okno .wrapper-5__input .wrapper-5__heck-mark .wrapper-5__text {
  color: rgb(255, 255, 255);
}

.section__sale {
  display: flex;
  align-items: center;
}
.section__sale p {
  margin: 0 0 0 25px;
  font-size: 18px;
  line-height: 25.78px;
  color: rgb(227, 184, 115);
}
.section__sale div {
  width: 92px;
  height: 92px;
}

@media (max-width: 768px) {
  .wrapper-5 {
    display: none;
  }
}
.wrapper-6 {
  margin: 180px 0 0 0;
  height: 864px;
  background: url(../images/img8.png) 0 0/100% 100% no-repeat;
}
.wrapper-6 .mobi-title {
  display: none;
}
.wrapper-6 .wrapper-6__color {
  height: 864px;
  background-color: rgba(0, 0, 0, 0.75);
}
.wrapper-6 .wrapper-6__color .wrapper-6__section__row {
  display: flex;
  justify-content: space-between;
}
.wrapper-6 .wrapper-6__color .wrapper-6__section__row .wrapper-6__section_col__left {
  padding: 137px 0 97px 0;
}
.wrapper-6 .wrapper-6__color .wrapper-6__section__row .wrapper-6__section_col__left h4 {
  font-family: "Yeseva One";
  font-size: 27px;
  text-transform: uppercase;
  color: rgb(227, 184, 115);
  padding-bottom: 37px;
}
.wrapper-6 .wrapper-6__color .wrapper-6__section__row .wrapper-6__section_col__left .wrapper-6__list-menu > ul > li {
  margin-top: 25px;
  list-style-type: none;
}
.wrapper-6 .wrapper-6__color .wrapper-6__section__row .wrapper-6__section_col__left .wrapper-6__list-menu > ul > li:first-child {
  display: inline;
  margin-top: 47px;
}
.wrapper-6 .wrapper-6__color .wrapper-6__section__row .wrapper-6__section_col__left .wrapper-6__list-menu > ul > li > a {
  text-decoration: none;
  font-size: 20px;
  color: rgb(255, 255, 255);
}
.wrapper-6 .wrapper-6__color .wrapper-6__section__row .wrapper-6__section_col__left .wrapper-6__list-menu > ul > li > a:hover {
  color: rgb(227, 184, 115);
  text-decoration: underline;
}
.wrapper-6 .wrapper-6__color .wrapper-6__section_col__right {
  display: flex;
  align-items: center;
}
.wrapper-6 .wrapper-6__color .wrapper-6__section_col__right .right {
  max-width: 354px;
  margin-top: -190px;
  margin-left: 43px;
}
.wrapper-6 .wrapper-6__color .wrapper-6__section_col__right .left {
  max-width: 354px;
}
.wrapper-6 .wrapper-6__color .wrapper-6__section_col__right img:first-of-type {
  margin-top: -41px;
}
.wrapper-6 .wrapper-6__color .wrapper-6__section_col__right img:nth-child(2) {
  margin-top: 39px;
}
.wrapper-6 .wrapper-6__color .wrapper-6__section_col__right img:nth-child(2) {
  margin-top: 37px;
}
.wrapper-6 .mobi-gradient {
  display: none;
}

.slider-mobi {
  display: none;
}

@media (max-width: 768px) {
  .wrapper-6 {
    background: none;
    margin: 0;
    height: auto;
  }
  .wrapper-6 .mobi-title {
    display: block;
    text-align: center;
    margin: 0px 0 20px 0;
    font-family: "Yeseva One";
    font-size: 27px;
    text-transform: uppercase;
    color: rgb(227, 184, 115);
    padding-bottom: 37px;
  }
  .wrapper-6 .mobi-gradient {
    display: block;
    padding: 0 18px;
    background: linear-gradient(rgb(255, 255, 255) 50%, rgb(24, 24, 24) 50%);
  }
  .wrapper-6 .mobi-gradient .slider-mobil {
    position: relative;
  }
  .wrapper-6 .mobi-gradient .slider-mobil .button-previous-mobil {
    position: absolute;
  }
  .wrapper-6 .mobi-gradient .slider-mobil .button-next-mobil {
    position: absolute;
    right: 0px;
  }
  .wrapper-6 .wrapper-6__color,
  .wrapper-6 .wrapper-6__list-menu,
  .wrapper-6 .wrapper-6__section_col__right {
    display: none;
  }
}
.wrapper-7__section-row {
  margin-top: 110px;
  text-align: center;
}
.wrapper-7__section-row h3 {
  text-transform: uppercase;
  font-family: "Yeseva One";
  margin-bottom: 13px;
  font-size: 20px;
  line-height: 27.72px;
  color: rgb(24, 24, 24);
}
.wrapper-7__section-row p {
  margin-top: 24px;
  font-size: 18px;
  line-height: 29.46px;
  color: #363636;
}

.wrapper-7__section-row-2 {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}
.wrapper-7__section-row-2 .wrapper-7__box {
  padding: 0px 0 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  max-width: 376px;
  height: 428px;
  box-shadow: 0 10px 50px rgba(0, 0, 0, 0.04);
}
.wrapper-7__section-row-2 .wrapper-7__box .title {
  display: flex;
  align-items: center;
}
.wrapper-7__section-row-2 .wrapper-7__box .title img {
  border-radius: 50%;
  max-width: 76px;
  max-height: 76px;
}
.wrapper-7__section-row-2 .wrapper-7__box .title span {
  margin-left: 23px;
  font-family: "Yeseva One";
  font-size: 18px;
  color: rgb(24, 24, 24);
  line-height: 22.87px;
}
.wrapper-7__section-row-2 .wrapper-7__box p {
  font-size: 13px;
  line-height: 23px;
  color: #959595;
  max-width: 324px;
}
.wrapper-7__section-row-2 .wrapper-7__box .wrapper-7__box__down {
  margin-bottom: -44px;
  display: flex;
  max-width: 294px;
  height: 54px;
  color: rgb(255, 255, 255);
  background: rgb(227, 184, 115);
  box-shadow: 5px 5px 20px rgba(227, 184, 115, 0.5);
}
.wrapper-7__section-row-2 .wrapper-7__box .wrapper-7__box__down .wrapper-7__box__down1 {
  padding: 11px 16px 11px 17px;
  display: flex;
  align-items: center;
}
.wrapper-7__section-row-2 .wrapper-7__box .wrapper-7__box__down .wrapper-7__box__down1 span {
  padding-left: 16px;
  font-family: "Yeseva One";
  text-transform: uppercase;
  font-size: 17px;
  line-height: 23.56px;
}
.wrapper-7__section-row-2 .wrapper-7__box .wrapper-7__box__down .wrapper-7__box__down1:first-of-type {
  border-right: 1px solid rgb(255, 255, 255);
}

@media (max-width: 768px) {
  .wrapper-7 {
    display: none;
  }
}
.wrapper-8__svg_fon {
  opacity: 5%;
  position: relative;
  z-index: -2;
  display: flex;
}
.wrapper-8__svg_fon svg {
  width: 100%;
  margin: 0 -10px 0 0;
}

.wrapper-8__section__col_modal_okno {
  position: relative;
  margin: -243px auto -100px auto;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  max-width: 883px;
  height: 445px;
}
.wrapper-8__section__col_modal_okno .title {
  text-align: center;
  text-transform: uppercase;
}
.wrapper-8__section__col_modal_okno .title h4 {
  padding: 34px 0 45px 0;
  font-family: "Yeseva One";
  font-size: 20px;
  line-height: 27.7px;
  color: rgb(255, 255, 255);
}
.wrapper-8__section__col_modal_okno .wrapper-8__input {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.wrapper-8__section__col_modal_okno .wrapper-8__input .name-phone-question {
  display: flex;
  flex-direction: column;
  padding-bottom: 47px;
  width: 520px;
}
.wrapper-8__section__col_modal_okno .wrapper-8__input .name-phone-question .name-phone {
  display: flex;
  justify-content: space-between;
  padding-bottom: 47px;
  width: 520px;
}
.wrapper-8__section__col_modal_okno .wrapper-8__input .name-phone-question .name-phone div {
  width: 231px;
}
.wrapper-8__section__col_modal_okno .wrapper-8__input .wrapper-8__check-mark {
  margin: 0px 0 0px 0;
}
.wrapper-8__section__col_modal_okno .wrapper-8__input .wrapper-8__check-mark .wrapper-8__text {
  color: rgb(255, 255, 255);
}
.wrapper-8__section__col_modal_okno .wrapper-8__input .wrapper-8__input__button {
  display: flex;
  flex-direction: row-reverse;
  padding: 50px 0 34px 0;
}
.wrapper-8__section__col_modal_okno .wrapper-8__input .button__wrapper-8 {
  font-style: normal;
  font-size: 13px;
  width: 250px;
}

@media (max-width: 768px) {
  .wrapper-8 {
    background-color: rgb(24, 24, 24);
  }
  .wrapper-8 .wrapper-8__svg_fon {
    display: none;
  }
  .wrapper-8 .wrapper-8__section__col_modal_okno {
    margin: 0 auto;
    background: rgb(24, 24, 24);
  }
  .wrapper-8 .wrapper-8__section__col_modal_okno .name-phone-question {
    width: 100%;
  }
  .wrapper-8 .wrapper-8__section__col_modal_okno .name-phone-question .name-phone {
    width: 100%;
    flex-direction: column;
  }
  .wrapper-8 .wrapper-8__section__col_modal_okno .name-phone-question .name-phone div {
    width: 100%;
  }
  .wrapper-8 .wrapper-8__section__col_modal_okno .name-phone-question .name-phone .wrapper-8__input__phone {
    padding-top: 47px;
  }
  .wrapper-8 .wrapper-8__section__col_modal_okno .wrapper-8__input__button,
  .wrapper-8 .wrapper-8__section__col_modal_okno .button__wrapper-8 {
    width: 100%;
  }
  .wrapper-8 .wrapper-8__section__col_modal_okno .mobi_check-mark {
    display: flex;
  }
  .wrapper-8 .wrapper-8__input {
    align-items: start;
  }
}
.wrapper-9 {
  background: url(../images/img13.png) 0 0/100% 100% no-repeat;
}

.wrapper-9__color {
  background: linear-gradient(rgb(24, 24, 24) 3.47%, rgba(24, 24, 24, 0.9) 100%);
}
.wrapper-9__color .wrapper-9__content {
  margin: -203px 0 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding: 273px 0 65px 0;
}
.wrapper-9__color .wrapper-9__content img {
  margin-top: 45px;
}
.wrapper-9__color .wrapper-9__content a {
  text-decoration: none;
}
.wrapper-9__color .wrapper-9__content h3 {
  text-align: center;
  font-family: "Yeseva One";
  color: rgb(227, 184, 115);
  font-size: 20px;
  text-transform: uppercase;
  line-height: 27.72px;
}
.wrapper-9__color .wrapper-9__content h3 a {
  display: inline;
  text-decoration: none;
  font-family: "Yeseva One";
  color: rgb(227, 184, 115);
  font-size: 20px;
  text-transform: uppercase;
  line-height: 27.72px;
}

.mobi__wrapper-9__icon {
  display: none;
}

@media (max-width: 768px) {
  .wrapper-9__color {
    background: rgb(24, 24, 24);
  }
  .wrapper-9__color .wrapper-9__content {
    flex-direction: column-reverse;
  }
  .wrapper-9__color .wrapper-9__content .wrapper-9__content > img {
    margin: 50px 0;
    max-width: 100%;
    max-height: 100%;
  }
  .wrapper-9__color .mobi__wrapper-9__icon {
    display: flex;
  }
  .wrapper-9__color .mobi__wrapper-9__icon a:last-child {
    margin-left: 20px;
  }
  .wrapper-9__color .mobi__wrapper-9__icon svg {
    width: 40px;
    height: 40px;
  }
  .wrapper-9__icon {
    display: none;
  }
}

/*# sourceMappingURL=styles.css.map */
