.wrapper-6 {
  margin: 242px 0 0 0;
  height: 864px;
  background: url(../images/img8.png) 0 0/100% 100% no-repeat;
}
.wrapper-6__color {
  height: 864px;
  background-color: rgba(0, 0, 0, 0.75);
}
.wrapper-6__section_col__left {
  padding: 137px 0 97px 0;
}
.wrapper-6__section_col__left > h4 {
  font-family: "Yeseva One";
  font-size: 27px;
  text-transform: uppercase;
  color: #e3b873;
  padding-bottom: 37px;
}

.wrapper-6__list-menu > ul > li {
  margin-top: 25px;
  list-style-type: none;
}
.wrapper-6__list-menu > ul > li:first-child {
  display: inline;
  margin-top: 47px;
}

.wrapper-6__list-menu > ul > li > a {
  text-decoration: none;
  font-size: 20px;
  color: #ffffff;
}
.wrapper-6__list-menu > ul > li > a:hover {
  color: #e3b873;
  text-decoration: underline;
}

.wrapper-6__section__row {
  display: flex;
  justify-content: space-between;
}
.wrapper-6__section_col__right {
  display: flex;
}
.wrapper-6__section_col__right > .right {
  width: 354px;
  margin-left: 43px;
}

.wrapper-6__section_col__right > .left {
  width: 354px;
}
.mobi-title {
  display: none;
}
.left > img:first-of-type {
  margin-top: -41px;
}
.left > img:nth-child(2) {
  margin-top: 39px;
}
.right > img:first-of-type {
  margin-top: -112px;
}
.right > img:nth-child(2) {
  margin-top: 37px;
}
.wrapper-6 > .mobi_img {
  display: none;
}
@media (max-width: 768px) {
  .wrapper-6__list-menu {
    display: none;
  }
  .wrapper-6 {
    background: none;
    margin: 0;
    height: auto;
  }
  .wrapper-6 > .mobi_img > img {
    max-width: 100%;

    aspect-ratio: 16 / 9;
  }

  .wrapper-6 > .mobi_img {
    display: block;
background: linear-gradient(white 50%, black 50%);
 

    padding: 0 18px;
  }
  .wrapper-6__section_col__right {
    display: none;
  }

  .wrapper-6__color {
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
  }
  .wrapper-6__section__row {
    justify-content: center;
  }
  .wrapper-6__section_col__left > h4 {
    margin-top: -250px;
  }
  .wrapper-6__color {
    display: none;
  }
  .mobi-title {
    display: block;
    text-align: center;
    margin: 0px 0 20px 0;
    font-family: "Yeseva One";
    font-size: 27px;
    text-transform: uppercase;
    color: #e3b873;
    padding-bottom: 37px;
  }
}
