.wrapper-4 {
  margin-bottom: 124px;
}
.wrapper-4__title {
  font-family: "Yeseva One";
  font-size: 20px;
  line-height: 27.72px;
  color: #181818;
}
.section__row__title {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section__row__img > div {
  max-width: 392px;
  max-height: 421px;
}
.section__row__img {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.section__col__text > h3 {
  color: #363636;
  font-family: "Yeseva One";

  font-size: 18px;
  line-height: 24.95px;
}
.section__col__text > ul > li {
  color: #959595;
  list-style-position: inside;
  font-size: 13px;
  line-height: 26.6px;
}

.section__col__text > ul {
  margin: 13px 0 10px 0;
}

.section__col__text {
  z-index: 2;
  position: relative;
  background-color: white;
  margin: -127px 0px 0 30px;
  display: flex;
  flex-direction: column;
  max-width: 300px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);
  padding: 25px 0 0 30px;
}
.wrapper_4__price {
  margin-bottom: -28px;
  max-width: 228px;
  height: 54px;
  background-color: var(--colorOrange);
  display: flex;
  justify-content: center;
  box-shadow: 5px 5px 10px rgba(227, 184, 115, 0.3);
}
.wrapper_4__price > span {
  font-family: "Yeseva One";
  color: white;
  font-size: 18px;
  line-height: 24.95px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
}
/* @media (max-width:1124px) {
  .section__row__img {
    flex-direction: column;
    align-items: center;
  }
    .section__row__img > div:nth-child(2) {
    margin: 250px 0;
    max-width: 100%;
  }
} */

@media (max-width: 768px) {
  .section__row__img {
    flex-direction: column;
    align-items: center;
  }
  .section__row__img > div > img {
    max-width: 100%;
  }
  .section__col__text {
    margin-left: 0;
    max-width: 290px;
  }

  .section__row__img > div:nth-child(2) {
    margin: 250px 0;
    max-width: 100%;
  }

  .wrapper-4 {
    margin-bottom: 240px;
  }
  .section__row__title {
    margin-top: 83px;
  }

  .wrapper-4__title {
    padding: 0 0 20px 0;
  }
}
