.wrapper-1__content > h2 {
  font-family: "Yeseva One";

  font-size: 40px;
  color: white;
  line-height: 53px;
  text-transform: uppercase;
}
.wrapper-1__content > p {
  margin-top: 19px;
  margin-bottom: 40px;
  color: white;

  font-size: 22px;
  line-height: 36px;
}

h2 > span {
  font-family: "Yeseva One";

  font-size: 40px;
  line-height: 53px;
  text-transform: uppercase;

  color: var(--colorOrange);
}


.mobi-button-wrapper-1{
display: none;
}

.button-wrapper-1:last-child {
  border: 1px solid #ffffff;
  background: rgba(0, 0, 0, 0);
  margin-left: 20px;
  
}

.wrapper-1 {
  background: url(../images/img1.png) 0 0/100% 100% no-repeat;
}

.color-wrapper-1 {
  background-color: rgba(0, 0, 0, 0.7);

  width: 100%;
  height: 100%;
}

.wrapper-2 {
  background: black;
  z-index: -1;
  color: white;
}

.section__roww {
  padding: 200px 0px 200px 33px;
  width: 676px;
  height: 305px;

}
@media (min-width: 1980px) {
  .color-wrapper-1 {
    min-height: 950px;
  }


  .section__roww {
    padding: 313px 33px 0 0 ;
    margin: 0;
  }
}
@media (max-width: 768px) {
 
  .wrapper-1__content {

      padding: 85px 0 ;
  }
.button-wrapper-1:last-child {
display: none;
  
}
  .mobi-button-wrapper-1{
display: block;
  border: 1px solid #ffffff;
  background: rgba(0, 0, 0, 0);
  margin-left: 20px;
}

  .wrapper-1__content > h2 {
    font-size: 23px;
    line-height: 23px;
  }
  .wrapper-1__content > h2 > span {
    font-size: 23px;

    line-height: 23px;
  }
  .section__roww {
    padding: 0;
     width: 100%;
  height: 100%;
  }
  .button {
    max-width: 767px;
    width: 100%;
  }
  .wrapper-1__content > p {
    font-size: 14px;
    line-height: 19.02px;
  }
  .button-wrapper-1 {
    margin: 26px 0 0 0 !important;
    width: 100%;
  }



}
