.wrapper-2 {
  background: var(--colorBlack);
  z-index: -1;
  color: var(--colorWhite);
}

.section__row__up {
  grid-area: 1 / 2 / 2 / 3;

}

.a-activ {
  color: var(--colorOrange) !important;
  border-bottom: var(--colorOrange) 1px solid;
}

.section_left {
  max-width: 520px;
}

.section__row__up > ul {
  display: flex;
  justify-content: space-between;
}

.section__row__up > ul > li {
  font-size: 14px;
  text-transform: uppercase;
  line-height: 19.4px;
  list-style-type: none;
  color: rgba(255, 255, 255, 0.3);
  cursor: pointer;
  font-family: "Yeseva One";
}
.section__row__up > ul > li:hover {
  color: var(--colorOrange);
  border-bottom: var(--colorOrange) 1px solid;
}
.section__row__down {
  padding: 35px 0 0 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 35px repeat(2, 1fr) 50px;
  grid-column-gap: 20px;
  grid-row-gap: 10px;
}

.section_left__title {
  grid-area: 2 / 1 / 3 / 2;
}
.section-right {
  grid-area: 2 / 2 / 5 / 3;
}
.section_left__nav {
  grid-area: 4 / 1 / 5 / 2;
  align-self: end;
}

.section_left__title > h2 {
  font-family: "Yeseva One";

  font-size: 27px;
  line-height: 37.42px;
  text-transform: uppercase;
  color: var(--colorOrange);
  margin-bottom: 34px;
}
.section_left__title > p {
  font-size: 14px;
  line-height: 26.73px;
}

.grid__info > h3 {
  font-family: "Yeseva One";
  font-size: 18px;
  line-height: 24.95px;
  text-transform: uppercase;
  color: var(--colorOrange);
}
.grid__info > span {
  font-size: 13px;
  line-height: 21.28px;
  color: var(--colorWhite);
}
.section_left__info {
  grid-area: 3 / 1 / 4 / 2;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 34px;
}
.grid_1 {
  grid-area: 1 / 1 / 2 / 2;
}
.grid_2 {
  grid-area: 1 / 2 / 2 / 3;
}
.grid_3 {
  grid-area: 2 / 1 / 3 / 2;
}
.grid_4 {
  grid-area: 2 / 2 / 3 / 3;
}

.tchk {
  cursor: pointer;
  width: 9.5px;
  height: 9.5px;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 50%;
}
.tchk-activ {
  background-color: var(--colorWhite);
}
.button-next,
.button-previous {
  cursor: pointer;
}
.all__tchk {
  margin: 0 30px;
  min-width: 60px;
  display: flex;
  justify-content: space-between;
}
.section_left__nav {
  display: flex;
  max-width: 210px;
  justify-content: space-between;
}

.wrapper-2_titel_camera {
  display: flex;
  padding: 92px 0 257px 0;
  flex-direction: column;
  align-items: center;
}
.camera > .line {
  width: 32px;
  border: var(--colorOrange) solid 1px;
}

.camera {
  margin: 15px 0;
  display: flex;
  align-items: center;
}
.camera > SVG {
  margin: 0 8px;
}

.wrapper-2_titel_camera > .titel {
  font-family: "Yeseva One";
  font-size: 20px;
  line-height: 27.72px;
  text-transform: uppercase;
}

.slider {
  width: 100%;
  overflow: hidden;

}

.sliderLine,.sliderLine-mobi {
  display: flex;
  transition: all ease 1s;
}

.svg-mobi-previous,
.svg-mobi-next {
  display: none;
}
@media (max-width: 768px) {
  .section__row__up,
  .all__tchk,
  .svg-desctop-previous,
  .svg-desctop-next {
    display: none;
  }
  .svg-mobi-previous,
  .svg-mobi-next {
    display: block;
  }
  .button-previous,
  .button-next {
    display: flex;
    position: absolute;
    z-index: 1;
    align-items: center;
    justify-content: center;
    width: 36px;
    top: 48%;
    height: 36px;
    border-radius: 50%;
    background-color: var(--colorOrange);
  }
  .svg-mobi-next {
    transform: rotate(180deg);
  }
  .wrapper-2 {
    background: var(--colorBlackTwo);
  }

  .section__row__down {
    padding: 0;
    position: relative;
    grid-template-columns: 1fr;
    grid-template-rows: 0.4fr 1fr 0.4fr;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
  }

  .section_left__title {
    grid-area: 1 / 1 / 2 / 2;
  }
  .section-right {
    grid-area: 2 / 1 / 3 / 2;
  }

  .section_left__info {
    grid-row-gap: 0px;
  }

  .section_left__title > h2 {
    margin-top: 36px;
    text-align: center;
    font-size: 22px;
    line-height: 30px;
  }
  .section_left__title > p {
    text-align: center;
    font-size: 11px;
    line-height: 17px;
  }
  .section_left {
    max-width: 100%;
  }
  .text_2 > h3 {
    font-size: 14px;
    line-height: 19px;
  }
  .text_2 > span {
    font-size: 11px;
    line-height: 18px;
  }

  .button-previous {
    left: 0px;
  }
  .button-next {
    right: 0px;
  }

  .wrapper-2_titel_camera > h3 {
    font-size: 22px;
    line-height: 30;
    margin: 50px 19px 0;
  }

  .wrapper-2_titel_camera {
    padding: 0px 0px 30px 0px;
  }
}
