.wrapper-6 {
  margin: 180px 0 0 0;
  height: 864px;
  background: url(../images/img8.png) 0 0/100% 100% no-repeat;
  .mobi-title {
    display: none;
  }

  .wrapper-6__color {
    height: 864px;
    background-color: rgba(0, 0, 0, 0.75);
    .wrapper-6__section__row {
      display: flex;
      justify-content: space-between;

      .wrapper-6__section_col__left {
        padding: 137px 0 97px 0;

        h4 {
          font-family: "Yeseva One";
          font-size: 27px;
          text-transform: uppercase;
          color: $colorOrange;
          padding-bottom: 37px;
        }

        .wrapper-6__list-menu > ul > li {
          margin-top: 25px;
          list-style-type: none;
        }
        .wrapper-6__list-menu > ul > li:first-child {
          display: inline;
          margin-top: 47px;
        }

        .wrapper-6__list-menu > ul > li > a {
          text-decoration: none;
          font-size: 20px;
          color: $colorWhite;
        }
        .wrapper-6__list-menu > ul > li > a:hover {
          color: $colorOrange;
          text-decoration: underline;
        }
      }
    }
    .wrapper-6__section_col__right {
      display: flex;
      align-items: center;

      .right {
        max-width: 354px;
        margin-top: -190px;
        margin-left: 43px;
      }

      .left {
        max-width: 354px;
      }
      img:first-of-type {
        margin-top: -41px;
      }
      img:nth-child(2) {
        margin-top: 39px;
      }

      img:nth-child(2) {
        margin-top: 37px;
      }
    }
  }
  .mobi-gradient {
    display: none;
  }
}
.slider-mobi {
  display: none;
}
@media (max-width: 768px) {
  .wrapper-6 {
    background: none;
    margin: 0;
    height: auto;

    .mobi-title {
      display: block;
      text-align: center;
      margin: 0px 0 20px 0;
      font-family: "Yeseva One";
      font-size: 27px;
      text-transform: uppercase;
      color: $colorOrange;
      padding-bottom: 37px;
    }
    .mobi-gradient {
      display: block;
      padding: 0 18px;
      background: linear-gradient($colorWhite 50%, $colorBlackTwo 50%);
      .slider-mobil {
        position: relative;
        .button-previous-mobil {
          position: absolute;
        }
        .button-next-mobil {
          position: absolute;
          right: 0px;
        }
      }
    }
    .wrapper-6__color,
    .wrapper-6__list-menu,
    .wrapper-6__section_col__right {
      display: none;
    }
  }
}
