.wrapper-3__video_fon {
  background-color: rgba(0, 0, 0);
  position: relative;
}
.wrapper-3__video_fon > img {
  opacity: 0.2;
}
.play {
  position: absolute;
  top: 40%;
  left: 40%;
}
.wrapper-3__video {
  margin-top: -226px;
  width: 818px;
  margin: -226px auto 0 auto;
  height: 434px;
}
.section__row > .wrapper-3__line {
  display: flex;
  margin: 62px auto 34px auto;
  width: 55px;
  height: 1.5px;
  background-color: #e3b873;
}
.wrapper-3__text {
  margin: 0 auto;
  width: 681px;
  text-align: center;
  font-size: 18px;
  line-height: 36.83px;
  color: #363636;
}
.wrapper-3__input {
  display: flex;
  justify-content: center;
  margin-top: 91.5px;
}

.input__wrapper-3 {
  background-color: white !important ;
  border-bottom: 1px solid rgba(54, 54, 54, 0.3) !important ;
  color: black !important ;
}
.input__wrapper-3::placeholder {
  background-color: white !important;
  color: #363636 !important ;
}
.input__wrapper-3:focus {
  background-color: white !important;
  color: black !important;
}
.input_okno {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.span_wrapper-3 {
  color: rgba(54, 54, 54, 0.5) !important;
}

.button__wrapper-3 {
  font-size: 13px;
  font-style: normal;
}
.wrapper-3__input__phone {
  margin-right: 49px;
  margin-left: 58px;
}

.check-mark {
  display: flex;
  justify-content: center;
  margin: 35px 0 147px 0;
}

.label > .text {
  margin-left: 8.5px;
  font-size: 14px;
  line-height: 22.92px;
  color: #181818;
}
.label {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.checkbox {
  display: none;
}
.fake {
  display: inline-flex;
  width: 18px;
  height: 18px;
  background: #e3b873;
  color: #fff;
  justify-content: center;
}
.fake::before {
  content: "\2714";
  opacity: 0;
  transition: 0.2s;
}
.checkbox:checked + .fake::before {
  opacity: 1;
}
