* {
  font-family: "Nunito Sans";
  font-weight: 400;
}
header {
  position: relative;
  margin: 0 auto;

  min-width: 1500px;
  max-width: 2500px;
}
.container {
  color: white;
  width: 1500px;
  padding-left: 134px;
  margin: 0 auto;
}
h1 {
  font-size: 11px;
  line-height: 15px;
  text-transform: uppercase;
  color: #e3b873;
}
.header__one {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: sticky;
  top: 0;
}
.section__col {
}
.logo {
}
nav > ul {
  display: flex;
}
nav > ul > li {
  margin: 0 0 0 47px;
  font-size: 11px;
  line-height: 15px;
  list-style-type: none;
}
nav > ul > li:first-child {
  color: #e3b873;
}
.phone {
  font-size: 11px;
  line-height: 15px;
  text-align: right;
  text-decoration-line: underline;

  color: #e3b873;
}
.section__col__Request {
  background: #e3b873;
  box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
  border-radius: 2px;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 11px;
  line-height: 15px;
  text-align: center;
  color: white;
  padding: 13px 33px;
  border: 0px;
}

/* --------____________------------_____________-------------_________ */

.header__one {
  background-color: black;
  padding: 22px 0;
}

.images {
  width: 100%;
 height: 100%;
  max-width: 2500px;
  min-width: 1500px;
  background-color: black;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
img {
  width: 100%;
  height: 100%;
  opacity: 0.3;
}

.section__row__content {
  padding: 200px 0;
  width: 676px;
  z-index: 0;
}
.section__row__content > h2 {
  font-family: "Yeseva One";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 53px;
  text-transform: uppercase;
}
.section__row__content > p {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  margin: 25px 0F;
  line-height: 36px;
}

h2 > span {
  font-family: "Yeseva One";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 53px;
  text-transform: uppercase;

  color: #e3b873;
}

.section__row__content__button {
  font-family: "Nunito Sans";
  font-style: italic;
  font-weight: 400;
  font-size: 11px;
  line-height: 15px;
  display: flex;
  justify-content: flex-start;
}

.section__row__content__button > button:first-child {
  background: #e3b873;
  box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.3);
  border-radius: 2px;
  color: white;
  border: 0px;
  width: 207px;
  height: 51px;
  margin-right: 20px;
}
.section__row__content__button > button:last-child {
  border: 1px solid #ffffff;
  border-radius: 2px;
  color: white;
  background: rgba(0, 0, 0, 0);
  width: 207px;
  height: 51px;
}

.q222 {
  height: 92px;
  width: 100%;
  background-color: black;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}
.number-2 {
  padding: 107px 0;
  background: #131313;
}
